body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.background-wrap {
    background: #e7e5d8; 
    padding: 40px 0;
}


.donations-section {
    max-width: 1100px;
    background: white;
    margin: auto;
    padding: 40px 40px;
    border-radius: 10px;
}

.title {
    font-size: 2.6rem;
    margin-bottom: 15px;
    color: #d46c53;
    text-align: center;
    font-weight: 700;
}

.intro {
    text-align: center;
    line-height: 1.6;
    color: #444;
    font-size: 1.1rem;
    margin-bottom: 60px;
}

.donations-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}


.donation-box {
    width: 31%;
    min-width: 260px;
    padding: 20px;
    text-align: center;
}

img {
    width: 120px;
    height: 120px;
    margin: 0 auto 15px auto;
    display: flex;
}

img:hover{
    cursor: pointer;
    scale: calc(1.1);
    transition: 0.3s ease;
}

.donation-box h2 {
    font-size: 1.4rem;
    color: #75a896; 
    margin-bottom: 15px;
}

.donation-box p {
    font-size: 1rem;
    color: #333;
}

.note {
    margin-top: 15px;
    font-size: 0.9rem;
    color: #555;
}


.donate-btn {
    margin-top: 15px;
    padding: 12px 22px;
    background: #d46c53;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}

.donate-btn:hover {
    background: #ba5a45;
}


@media (max-width: 900px) {
    .donation-box {
        width: 45%;
    }
}

@media (max-width: 600px) {
    .donation-box {
        width: 100%;
    }
}
