body {
    margin: 0;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background: #ffffff;
    border-bottom: 1px solid #ddd;
}

.donate-btn {
    background: #e6735c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}



.flags span {
    margin: 0 5px;
}

.flags img {
    width: 40px;
    height: auto;
    border-radius: 3px;
}

.flags button{
    cursor: pointer;
    background: none;
    border: none;
}

.auth button {
    margin-left: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    background: white;
    border: 1px solid #d46c53;
    cursor: pointer;
}

.auth button:hover{
    background-color: #d46c53;
    color: white;
}

.navbar {
    background: #ffffff;
    padding: 15px 40px;
    border-bottom: 2px solid #d46c53;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #1d2a52;
    font-weight: bold;
    font-size: 1.1rem;
}

.hover_estilo:hover{
    color: #d46c53;
    font-weight: bold;
}

.inspiracional {
    text-align: center;
    padding: 60px 20px;
    background: #f0ede6;
}

.inspiracional h1 {
    font-size: 2.8rem;
    color: #1d2a52;
}

.inspiracional p {
    font-size: 1.1rem;
}

.adotar {
    padding: 40px;
    display: flex;
    justify-content: center;
}

.slide {
    width: 90%;
    display: flex;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.slide-left {
    background: #1d2a52;
    color: white;
    padding: 40px;
    flex: 1;
}

.slide-left h2 {
    font-size: 2rem;
}

.slide-right {
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eeeeeef3;
}

.foto {
    width: 90%;
    height: 90%;
    background: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 10px;
}

.animais{
    width: 90%;
    height: 90%;
    border-radius: 10px;
}
.logo img{
    width: 7%;
    height: auto;

}