/* Light mode */
:root {
    /* Primary colors */
    --primary-color: #0b354b;
    --secondary-color: #30bfbd;
    --accent-color: #d46c53;

    /* Background and surfaces */
    --background-color: #ffffff;
    --background-color-alt: #0e111e;
    --surface-color: #f0ede6;
    --surface-alt: #eeeeeef3;

    /* Text */
    --text-color: #1d2a52;
    --text-alt: #f1f1f1;
    --text-light: #ffffff;

    /* Borders and hovers */
    --border-color: #ddd;
    --hover-bg: #e9e9e9;

    /* Grays */
    --gray-100: #f9f9f9;
    --gray-200: #eeeeee;
    --gray-300: #cccccc;

    /* Box shadow */
    --box-shadowRGB: 0, 0, 0;
    --box-shadow-accentRGB: 255,155,122;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Primary colors */
        --primary-color: #0b354b;
        --secondary-color: #30bfbd;
        --accent-color: #d46c53;

        /* Background and surfaces */
        --background-color: #0e111e;
        --background-color-alt: #ffffff;
        --surface-color: #1a2238;
        --surface-alt: #2a3250;

        /* Texto */
        --text-color: #ffffff;
        --text-alt: #1d2a52;
        --text-light: #ffffff;

        /* Borders and hover */
        --border-color: #2d2d2d;
        --hover-bg: #2b2f3c;

        /* Grays */
        --gray-100: #1a1a1a;
        --gray-200: #2a2a2a;
        --gray-300: #3a3a3a;
        
        /* Box shadow */
        --box-shadowRGB: 255, 255, 255;
        --box-shadow-accentRGB: 255,155,122;
    }
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

header {
    position: relative;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background: var(--background-color);
    border-bottom: 1px solid var(--border-color);
}

.logotipo {
    height: 60px;
    width: auto;
    display: block;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-right: 20px;
}

.logotipo:hover {
    transform: scale(1.05);
}

.donate-btn {
    background: var(--accent-color);
    color: var(--text-light);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.donate-btn:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}

.dropdown-menu {
    position: absolute;
    background: var(--background-color);
    list-style: none;
    padding: 0;
    width: 167%;
    box-shadow: 0 4px 8px rgba(var(--box-shadow-accentRGB), 0.4);
    opacity: 0;
    transform: translateY(10px);
    transition: 0.3s ease;
    pointer-events: none;
    text-align: center;
}

.dropdown-menu li a {
    display: block; 
    padding: 15%;
    color: var(--background-color-alt);
    font-size: 15px;
}

.dropdown-menu li a:hover {
    background: var(--hover-bg);
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.language-selector {
    position: relative;
    margin-left: 20px; 
    margin-right: 20px;
    cursor: pointer;
    z-index: 1000;
}

.language-selector img {
    width: 30px;
    height: auto;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(var(--box-shadow-accentRGB),0.2);
    display: block;
}

.lang-dropdown {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%) translateY(10px);
    background: var(--background-color);
    list-style: none;
    padding: 0;
    border-radius: 5px;
    
    opacity: 0;
    visibility: hidden; 
    transition: all 0.3s ease;
    min-width: 50px;
    text-align: center;
}

.lang-dropdown li {
    margin-bottom: 5px;
}

.lang-dropdown li:last-child {
    margin-bottom: 0;
}

.language-selector:hover .lang-dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(5px); 
}

.lang-dropdown img:hover {
    transform: scale(1.1); 
    transition: 0.2s;
}

.navbar {
    background: var(--background-color);
    padding: 15px 40px;
    border-bottom: 2px solid var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    padding-left: 0;
}

.nav-links li{
    position: relative;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.1rem;
}

.hover_estilo:hover{
    color: var(--secondary-color);
    font-weight: bold;
}

.inspiracional {
    text-align: center;
    padding: 60px 20px;
    background: var(--surface-color);
}

.inspiracional h1 {
    font-size: 2.8rem;
    color: var(--text-color);
}

.inspiracional p {
    font-size: 1.1rem;
    color: var(--text-color);
}

.adotar {
    padding: 40px;
    display: flex;
    justify-content: center;
}

.slide {
    width: 90%;
    display: flex;
    background: var(--background-color);
    border-radius: 10px;
    overflow: hidden;
}

.slide-left {
    background: var(--primary-color);
    color: var(--text-alt);
    padding: 40px;
    flex: 1;
}

.slide-left h2 {
    font-size: 2rem;
}

.slide-right {
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--surface-alt);
}

.foto {
    width: 90%;
    height: 90%;
    background: var(--gray-300);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 10px;
}

.animais{
    width: 90%;
    height: 90%;
    border-radius: 10px;
}
.logo img{
    width: 7%;
    height: auto;
}